<!DOCTYPE html>
<html>
<head>
  <title>YelpCamp</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

   </head>
<body>
  
<nav class="navbar navbar-fixed-top ">

  <div class="container-fluid ">
    <!-- Brand display -->
    <div class="navbar-header">
      <a class="navbar-brand " href="/">YelCamp</a>
    </div>
 <ul class="nav navbar-nav">
    <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a href="/campground">Home</a></li>
     <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a href="/campground/new">New Campground</a></li>
  </ul>
    <!-- SIGN IN SIGN OUT AND LOG IN  -->
   <ul class="nav navbar-nav navbar-right">
    <% if(!currentUser){ %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Sign Up</a></li>
  <% } else {   %>
        <li><a href="#">Sign in As <%=currentUser.username %> </a></li>
        <li><a href="/logout">Logout</a></li>

    <%  } %>
        
        
      </ul>
    <!-- SIGN IN SIGN OUT AND LOG IN (UP)  -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <% if(error && error.length>0){ %>
    <div class="alert alert-danger" role="alert"><%=error %></div>
  <%  } %>
  <% if(success && success.length>0){ %>
    <div class="alert alert-success" role="alert"><%=success %></div>
  <%  } %>
</div>  



